---

---

<header class="fixed top-0 left-0 right-0 z-30 pt-10 pb-30">
  <div class="absolute inset-0 bg-gradient-to-b from-[#000] to-transparent opacity-90 z-0"></div>
  <div class="sr-only">HALM</div>
  <svg class="h-6 w-40 relative z-10 mx-auto" width="876" height="109" viewBox="0 0 876 109" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
    <path d="M853.054 0H875.253L875.887 1.90045V107.059H854.323L853.689 94.3891L853.054 30.4072L844.809 38.6425L840.37 43.7104L835.93 48.1448L831.49 53.2127L827.051 57.6471L822.611 62.7149L817.537 67.7828L813.097 72.8507L808.658 77.2851L804.218 82.3529L799.778 86.7873L795.339 91.8552L790.899 96.2896L786.459 101.357L782.019 105.792L781.385 107.059H767.432L758.553 98.19L754.113 93.1222L748.405 87.4208L743.965 82.3529L737.623 76.0181L733.183 70.9502L727.475 65.2489L723.035 60.181L717.327 54.4796L712.887 49.4118L707.179 43.7104L702.739 38.6425L696.397 32.3077L695.128 30.4072V107.692H672.93L672.296 0.633484H695.128L704.642 10.1357L709.082 15.2036L714.156 20.2715L718.595 25.3394L724.304 31.0407L728.743 36.1086L733.817 41.1765L738.257 46.2443L743.965 51.9457L748.405 57.0136L753.479 62.0815L757.918 67.1493L763.626 72.8507L768.066 77.9186L773.14 82.9864L774.409 84.2534L781.385 77.2851L785.825 72.2172L795.973 61.448L803.584 53.2127L812.463 43.7104L820.074 35.4751L828.953 25.9729L836.564 17.7376L845.444 8.23529L853.054 0Z" fill="white"></path>
    <path d="M313.949 1.26697H329.805L336.782 8.86878L342.49 15.8371L348.198 22.1719L353.907 29.1403L359.615 35.4751L365.323 42.4434L371.665 49.4118L377.374 56.3801L383.082 62.7149L388.79 69.6833L394.498 76.0181L400.206 82.9864L406.549 89.9548L412.257 96.9231L417.965 103.258L421.136 107.059V108.326H394.498L386.887 99.457L379.276 90.5882L372.3 82.3529H269.553L263.21 89.3213L257.502 96.2896L250.525 103.891L246.72 108.326L244.817 108.959H219.447L221.35 105.792L228.961 97.5566L233.401 92.4887L241.012 83.6199L247.988 76.0181L252.428 70.9502L258.136 64.6154L263.844 57.6471L272.089 48.7783L276.529 43.7104L284.14 34.8416L291.751 26.6063L297.459 19.638L305.704 10.7692L310.144 5.70136L313.949 1.26697ZM322.829 22.1719L315.852 29.7738L311.412 34.8416L304.436 42.4434L299.996 47.5113L293.019 55.1131L288.58 60.181L284.774 65.2489H358.346L355.809 61.448L348.198 52.5792L343.124 46.2443L336.148 38.0091L329.171 29.1403L323.463 22.1719H322.829Z" fill="white"></path>
    <path d="M484.56 1.26697H506.125L506.759 25.3394V91.2217H601.261L601.895 107.692L508.027 108.326H484.56V1.26697Z" fill="white"></path>
    <path d="M0 1.90039H21.5642L22.1984 23.4389V45.6108H134.459V1.90039H156.023L156.658 108.959H134.459V62.0814L22.1984 62.7149V108.959H0V1.90039Z" fill="white"></path>
  </svg>
</header>
